{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Salut {{ user.name }}</h1>:
    <table border="2">
        <tr><td>Nom produit</td><td>Quantité</td></tr>
        {% for pp in pps %}
            <tr><td>{{ pp.produit }}</td><td>{{ pp.contiter }}</td><td><a href="{{ path('dpp',{'id':pp.id}) }}">Delete</a></td></tr>
        {% endfor %}
    </table>

</div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
{% endblock %}
