{% extends 'base-front.html.twig' %}
{% block body %}
    <div class="container">
        <h1>
           nouveau mot de passe
        </h1>
       <form method="post">
           <label for="pass">Mot de passe</label>
           <input type="password" name="password" id="pass">
           <input type="hidden" name="token" value="{{ token }}">
           <button></button>
       </form>
    </div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
    <div class="nk-gap-2 d-none d-lg-block"></div>
{% endblock %}